*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/AndroidProjectSystem.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.kotlin/errors/errors-1757524846630.log
.kotlin/errors/errors-1757527144572.log
.kotlin/errors/errors-1757527183562.log
.kotlin/errors/errors-1757527300462.log
.kotlin/errors/errors-1757567641893.log
.kotlin/errors/errors-1757567894734.log
.kotlin/errors/errors-1757569157239.log
.kotlin/errors/errors-1757569195752.log
.kotlin/errors/errors-1757569391710.log
.kotlin/errors/errors-1757569516095.log
.kotlin/errors/errors-1757569550924.log
.kotlin/errors/errors-1757569777799.log
.kotlin/errors/errors-1757569875830.log
.kotlin/errors/errors-1757570900400.log
.kotlin/errors/errors-1757572964836.log
